* {
	margin: 0;
	padding: 0;
	user-select: none;
}
body {
	width: 100%;
	height: auto;
	overflow-x: hidden;
	background-image: url('/CrossART__WorldMap/img/Background.jpg');
	background-size: cover;
	position: relative;
	display: flex;
	flex-direction: column;
}

a {
	text-decoration: none;
	color: #fff;
}
