.mapMain-label.m1 { top: 580px; left: 540px;}
.mapMain-label.m2 { top: 532px; left: 167px;}
.mapMain-label.m3 { top: 518px; left: 192px;}
.mapMain-label.m4 { top: 518px; left: 431px;}
.mapMain-label.m5 { top: 546px; left: 352px;}
.mapMain-label.m6 { top: 501px; left: 381px;}
.mapMain-label.m7 { top: 582px; left: 224px;}
.mapMain-label.m8 { top: 564px; left: 398px;}
.mapMain-label.m9 { top: 530px; left: 276px;}

.mapMain-label.m10 { top: 530px; left: 253px;}
.mapMain-label.m11 { top: 529px; left: 294px;}
.mapMain-label.m12 { top: 544px; left: 275px;}
.mapMain-label.m13 { top: 511px; left: 275px;}
.mapMain-label.m14 { top: 575px; left: 369px;}
.mapMain-label.m15 { top: 582px; left: 676px;}
.mapMain-label.m16 { top: 543px; left: 429px;}
.mapMain-label.m17 { top: 486px; left: 326px;}
.mapMain-label.m18 { top: 531px; left: 530px;}
.mapMain-label.m19 { top: 454px; left: 192px;}

.mapMain-label.m20 { top: 429px; left: 214px;}
.mapMain-label.m21 { top: 533px; left: 388px;}
.mapMain-label.m22 { top: 460px; left: 236px;}
.mapMain-label.m23 { top: 458px; left: 369px;}
.mapMain-label.m24 { top: 486px; left: 237px;}
.mapMain-label.m25 { top: 550px; left: 208px;}
.mapMain-label.m26 { top: 520px; left: 339px;}
.mapMain-label.m27 { top: 104px; left: 800px;}
.mapMain-label.m28 { top: 99px; left: 735px;}
.mapMain-label.m29 { top: 133px; left: 321px;}

.mapMain-label.m30 { top: 90px; left: 839px;}
.mapMain-label.m31 { top: 243px; left: 44px;}
.mapMain-label.m32 { top: 275px; left: 144px;}
.mapMain-label.m33 { top: 283px; left: 108px;}
.mapMain-label.m34 { top: 294px; left: 424px;}
.mapMain-label.m35 { top: 273px; left: 435px;}
.mapMain-label.m36 { top: 276px; left: 410px;}
.mapMain-label.m37 { top: 250px; left: 427px;}
.mapMain-label.m38 { top: 279px; left: 350px;}
.mapMain-label.m39 { top: 257px; left: 396px;}

.mapMain-label.m40 { top: 410px; left: 824px;}
.mapMain-label.m41 { top: 402px; left: 847px;}
.mapMain-label.m42 { top: 422px; left: 807px;}
.mapMain-label.m43 { top: 422px; left: 842px;}
.mapMain-label.m44 { top: 400px; left: 807px;}
.mapMain-label.m45 { top: 442px; left: 984px;}
.mapMain-label.m46 { top: 387px; left: 824px;}
.mapMain-label.m47 { top: 430px; left: 824px;}
.mapMain-label.m48 { top: 416px; left: 861px;}
.mapMain-label.m49 { top: 325px; left: 585px;}

.mapMain-label.m50 { top: 340px; left: 668px;}
.mapMain-label.m51 { top: 367px; left: 665px;}
.mapMain-label.m52 { top: 378px; left: 555px;}
.mapMain-label.m53 { top: 300px; left: 521px;}
.mapMain-label.m54 { top: 324px; left: 244px;}
.mapMain-label.m55 { top: 358px; left: 518px;}
.mapMain-label.m56 { top: 351px; left: 618px;}
.mapMain-label.m57 { top: 256px; left: 515px;}
.mapMain-label.m58 { top: 390px; left: 670px;}
.mapMain-label.m59 { top: 310px; left: 563px;}

.mapMain-label.m60 { top: 261px; left: 732px;}
.mapMain-label.m61 { top: 269px; left: 712px;}
.mapMain-label.m62 { top: 304px; left: 638px;}
.mapMain-label.m63 { top: 251px; left: 808px;}
.mapMain-label.m64 { top: 290px; left: 720px;}
.mapMain-label.m65 { top: 282px; left: 740px;}
.mapMain-label.m66 { top: 235px; left: 776px;}
.mapMain-label.m67 { top: 266px; left: 593px;}
.mapMain-label.m68 { top: 210px; left: 788px;}
.mapMain-label.m69 { top: 278px; left: 612px;}

.mapMain-label.m70 { top: 323px; left: 626px;}
.mapMain-label.m71 { top: 238px; left: 852px;}
.mapMain-label.m72 { top: 222px; left: 729px;}
.mapMain-label.m73 { top: 249px; left: 754px;}
.mapMain-label.m74 { top: 283px; left: 691px;}
.mapMain-label.m75 { top: 297px; left: 601px;}
.mapMain-label.m76 { top: 282px; left: 581px;}