@font-face {
    font-family: 'Refuse Pro';
    src: url('RefusePro.eot');
    src: local('Refuse Pro'), local('RefusePro'),
        url('RefusePro.eot?#iefix') format('embedded-opentype'),
        url('RefusePro.woff2') format('woff2'),
        url('RefusePro.woff') format('woff'),
        url('RefusePro.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

